:root {
    --primary-color: #d0ff00;
    --primary-hover-color: rgba(208, 255, 0, 0.3);
    --primary-bg-color: #1f2600;
    --accent-color: #ff2457;

    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    --background-shade: rgb(255 255 255);
}